<mxfile host="app.diagrams.net" modified="2024-07-03T17:18:34.861Z" agent="Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:127.0) Gecko/20100101 Firefox/127.0" etag="pQL_pxHJfvXn2padwvLL" version="24.6.4" type="device">
  <diagram name="Page-1" id="i_3I7MDvqkA1VTeEaBTO">
    <mxGraphModel dx="1244" dy="1166" grid="1" gridSize="10" guides="1" tooltips="1" connect="1" arrows="1" fold="1" page="1" pageScale="1" pageWidth="850" pageHeight="1100" math="0" shadow="0">
      <root>
        <mxCell id="0" />
        <mxCell id="1" parent="0" />
        <mxCell id="kihSXxebM6lm4iyxLSUw-1" value="{{ val_1 }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=8;" vertex="1" parent="1">
          <mxGeometry x="50" y="90" width="40" height="40" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-2" value="{{ val_2 }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=8;" vertex="1" parent="1">
          <mxGeometry x="130" y="90" width="40" height="40" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-3" value="{{ val_1 + val_2 }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=8;" vertex="1" parent="1">
          <mxGeometry x="210" y="90" width="40" height="40" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-4" value="+" style="text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;" vertex="1" parent="1">
          <mxGeometry x="100" y="95" width="20" height="30" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-5" value="=" style="text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;" vertex="1" parent="1">
          <mxGeometry x="180" y="95" width="20" height="30" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-6" value="{{ val_1 }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=8;" vertex="1" parent="1">
          <mxGeometry x="50" y="140" width="40" height="40" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-7" value="{{ val_2 }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=8;" vertex="1" parent="1">
          <mxGeometry x="130" y="140" width="40" height="40" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-8" value="{{ val_1 - val_2 }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=8;" vertex="1" parent="1">
          <mxGeometry x="210" y="140" width="40" height="40" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-9" value="-" style="text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;" vertex="1" parent="1">
          <mxGeometry x="100" y="145" width="20" height="30" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-10" value="=" style="text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;" vertex="1" parent="1">
          <mxGeometry x="180" y="145" width="20" height="30" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-11" value="{{ val_1 }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=8;" vertex="1" parent="1">
          <mxGeometry x="50" y="190" width="40" height="40" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-12" value="{{ val_2 }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=8;" vertex="1" parent="1">
          <mxGeometry x="130" y="190" width="40" height="40" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-13" value="{{ val_1 * val_2 }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=8;" vertex="1" parent="1">
          <mxGeometry x="210" y="190" width="40" height="40" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-14" value="*" style="text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;" vertex="1" parent="1">
          <mxGeometry x="100" y="195" width="20" height="30" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-15" value="=" style="text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;" vertex="1" parent="1">
          <mxGeometry x="180" y="195" width="20" height="30" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-16" value="{{ val_1 }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=8;" vertex="1" parent="1">
          <mxGeometry x="50" y="240" width="40" height="40" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-17" value="{{ val_2 }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=8;" vertex="1" parent="1">
          <mxGeometry x="130" y="240" width="40" height="40" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-18" value="{{ val_1 / val_2 }}" style="rounded=0;whiteSpace=wrap;html=1;fontSize=8;" vertex="1" parent="1">
          <mxGeometry x="210" y="240" width="40" height="40" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-19" value="/" style="text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;" vertex="1" parent="1">
          <mxGeometry x="100" y="245" width="20" height="30" as="geometry" />
        </mxCell>
        <mxCell id="kihSXxebM6lm4iyxLSUw-20" value="=" style="text;html=1;align=center;verticalAlign=middle;whiteSpace=wrap;rounded=0;" vertex="1" parent="1">
          <mxGeometry x="180" y="245" width="20" height="30" as="geometry" />
        </mxCell>
      </root>
    </mxGraphModel>
  </diagram>
</mxfile>
